.contener_header {
   display: flex;
   justify-content: space-between;
   background-color: #ec4f37;
   align-items: center;
   height: 55px;
   padding: 20px
}

.img_header {
  background-color: #ec4f37;
}
