.testimonials {
  max-width: 300px;
}

.scroller {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.item {
  background-color: white;
  min-height: 200px;
  min-width: 70%;
  scroll-snap-align: center;
}
